src/index.jade
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title 209Sondage
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="my_math.js")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css')
  body
    center: h1 209 Sondage
    #container
      center
        #grid_inputs
          input(id="i1" type="text" placeholder="Taille population")
          input(id="i2" type="text" placeholder="Taille échantillon")
          input(id="i3" type="text" placeholder="Pourcent votes favorables")
          button(onclick="catch_calc(); return false;") calculer
      #usage
        h2 Comment ça marche 
        p Remplissez les trois champs par des valeurs numériques afin de calculer les amplitudes des intervalles de confiance.
        p Les trois paramètres sont :
        ul
          li La taille de la population
          li La taille de l’échantillon
          li Le pourcentage de votes favorables à un candidat dans l’échantillon
      #result
        h2 Résultats :
        p Taille de la population :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r1">10000</span>
        p Taille de l’échantillon :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r2">500</span>
        p Résultat du sondage :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r3">42.24</span>%
        p Variance estimée :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r4">0.000464</span>
        p Intervalle de confiance à 95% :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<span id="p1">38.02</span>% ; <span id="p2">46.46</span>%]
        p Intervalle de confiance à 99% :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<span id="p3">36.68</span>% ; <span id="p4">47.80</span>%]
      #error
        h2 Erreurs :
        p#error_empt Tous les champs doivent être remplis avec une valeur numérique positive.
        p#error_numb Les champs doivent être des valeurs numériques positives. Un pourcentage est une valeur entre 0 et 100 inclus.
        p#error_sup La taille de l'échantillon ne doit pas être supérieur à la taille de la population.

build/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>209Sondage</title><script src="http://code.jquery.com/jquery-1.10.1.min.js"></script><script src="my_math.js"></script><link rel="stylesheet" type="text/css" href="style.css"><link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css"></head><body><center><h1>209 Sondage</h1></center><div id="container"><center><div id="grid_inputs"><input id="i1" type="text" placeholder="Taille population"><input id="i2" type="text" placeholder="Taille échantillon"><input id="i3" type="text" placeholder="Pourcent votes favorables"><button onclick="catch_calc(); return false;">calculer</button></div></center><div id="usage"><h2>Comment ça marche </h2><p>Remplissez les trois champs par des valeurs numériques afin de calculer les amplitudes des intervalles de confiance.</p><p>Les trois paramètres sont :</p><ul><li>La taille de la population</li><li>La taille de l’échantillon</li><li>Le pourcentage de votes favorables à un candidat dans l’échantillon</li></ul></div><div id="result"><h2>Résultats :</h2><p>Taille de la population :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r1">10000</span></p><p>Taille de l’échantillon :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r2">500</span></p><p>Résultat du sondage :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r3">42.24</span>%</p><p>Variance estimée :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="r4">0.000464</span></p><p>Intervalle de confiance à 95% :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<span id="p1">38.02</span>% ; <span id="p2">46.46</span>%]</p><p>Intervalle de confiance à 99% :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<span id="p3">36.68</span>% ; <span id="p4">47.80</span>%]</p></div><div id="error"><h2>Erreurs :</h2><p id="error_empt">Tous les champs doivent être remplis avec une valeur numérique positive.</p><p id="error_numb">Les champs doivent être des valeurs numériques positives. Un pourcentage est une valeur entre 0 et 100 inclus.</p><p id="error_sup">La taille de l'échantillon ne doit pas être supérieur à la taille de la population.</p></div></div></body></html>
